/* Set background image and body fonts */
body {
    background-image: url("../images/dynamic-style.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Set header color and fonts */
h {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

/* Header style */
#header {
  color: white;
  width: 100%;
  position: absolute;
  top: 0;  
}

 /* Style name field in header */
 #header .name {
  background: #4aaaa5;
  text-align: center;
  float: left;
  padding: 0 5px 0 5px;   
  margin-right: 0;
  height: 49px;
  overflow: hidden;
  position: relative;

}
 
/* Style topnav buttons */
#header .topnav {
  background-color: white;
  overflow: auto;
}

/* Style the links inside the navigation bar */
#header .topnav a {
  float: right;
  color: #4aaaa5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  right: 100px;
}

/* Change the color of links on hover */
#header .topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style About image */
#content .paragraph .imgage {
    height: 50%;
    width: 50%;
}

/* Style content section */
#content {
  width: auto;
  height: 75%;
  background-color: white;
  margin: 75px auto;
}

/* Style about content section */
#content .about {
  color: #4aaaa5;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
 }

 /* Style contact content section */
#content .contact {
    color: #4aaaa5;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    
   }

 /* Style contact content section */
 #content .portfolio {
    color: #4aaaa5;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
   }

/* Style content paragraph */
#content .paragraph {
  padding-top: 5px;
  margin-left: 5px;
  text-align: justify; 
  width: 75%;
  height: 75%;
  
}

/* Style conent image */
 #content .paragraph .image{
  float: left;
  width: 25%;
  height: 25%;
  padding: 2px 2px;
  margin-right: 10px;
}

/* Style footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  border-top: 5px solid #4aaaa5;
  height: 49px;
  font-size: 25px;
}

.grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
  }

  .module {
    /* Demo-Specific Styles */
    
    background: #eaeaea;
    color: #4aaaa5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    text-align: center;
    font-size: 25px;

    
    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
  }

  .module .image {
      width: auto;
      height: auto;
  }

/* Style contact form */
form {
  line-height: 175%;
  margin: 20px;
}


/*
  These rules take effect when the browser's width
  is either 980px or less.
*/
@media screen and (max-width: 980px) {
    #header .topnav{  
        max-width: 980px;
        background-color: red;
    }
   #content {
       max-width: 75%;
   }
  }
/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
    #header .topnav{  
        max-width: 768px;
        background-color: blue;
    }

    #content .paragraph .image{
      float: left;
      width: 50%;
      height: 50%;
          
    }
    #content .paragraph {
      text-align: left; 
      width: 90%;
    }
   

}  
  /*
    These rules take effect when the browser's width
    is either 640px or less.
  */
  @media screen and (max-width: 640px) {
    #header .topnav{ 
        max-width: 640px;
        background-color: green;
    }

    #content .paragraph .image{
      text-align: center;
       width: 100%;
      
          
    }
    #content .paragraph {
      text-align: left; 
      width: 90%;
      
    }
  
    .topnav{ 
        justify-content: center;
    }
  }